<!DOCTYPE html>
<html lan='en-US'>
    <head>
        <title>
            <h1>Item to be bought!</h1>
        </title>
    </head>
    <body>
        <h2> <%= @session[:item] %> </h2>
    </body>
</html>