<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Your Item</title>
    </head>
    <body>
        <h1>Your Item</h1>
        <h4><%= @session["item"] %></h4>
        
    </body>
</html>