<h1>Add to Cart Form</h1>

<form method="post" action="/checkout">
    <label for="item">Enter Item</label>
    <input type="text" id="item" name="item">
    <input type="submit" id="submit" value="Submit">
</form>