<h1>Enter The Item You Would Like To Buy:</h1>
<form action="/checkout" method="POST">
    <label for="item">Item:</label>
    <input type="text" name="item">
    <button type="submit" value="submit">Submit</button>
</form>
