<form method="post" action="/checkout">
  <fieldset>
    <legend>Your cart:</legend>
    Please enter an item to purchase:<br>
    <input type="text" name="item">
    <br>
    <br><br>
    <button type="submit" value="submit">Submit</button> 
  </fieldset>
</form>

