
<h1>Shopping</h1>
<form action="/checkout" method="POST" >
  <label for="item">Item
    <p>
      <input type="text" id="item" name="item"/>
    </p>
  </label>
  <input type="submit" value="checkout" id="submit"/>
</form>