<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>The Online Store</title>
  </head>

  <body>
    <h1>Items to Purchase</h1>

    <form method="POST" action="/checkout" id="form">
      <p>Item: <input type="text" name="item"></p>
    </form>

    <Button type="submit" form="form" value="submit">Submit</button>

  </body>
</html>
