<section
  style="width: 50%; margin: 0 auto; padding-top: 10px; text-align: center; font-family: Arial, Helvetica, sans-serif;"
>
  <h1 style="font-size: 1.75em;">ADD AN ITEM TO YOUR CART!</h1>
  <form action="/checkout" method="POST">
    <label for="item">Add Item: </label>
    <input type="text" name="item" id="item" />
    <button
      type="submit"
      id="submit"
      style="padding: 10px 20px; margin-left: 10px; border-radius: 6px; background-color: #70C1B3; color: white; border: none; box-shadow: 5px 5px 13px rgba(0,0,0,0.3);"
    >
      Add to Cart
    </button>
  </form>
</section>
