
<h1>Hello this is the index file</h1>
<form method="post" action="/checkout">
  <label for="information">Enter your Purchase here:</label><input type="text" id="information" name="item">
  <button type="submit">submit</button>
</form>
