<!DOCTYPE html>
<html>
<head>
  <title>Add to Cart</title>
</head>

<body>
  <form action='/checkout' method="POST">
    <label for='item'><input type='text' name='item'>
    <input type='submit' id='submit'>
  </form>
</body>

</html>
