<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Purchase an Item</title>
  </head>

  <body>
    <form action="/checkout" method="POST">
      Name of Item: <input type = "text" id="item" name="item">
      <input type="submit" id="Submit" value="submit">
    </form>
  </body>
</html>