<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Shopping</title>
  </head>
  <body>
    <h1>What would you liek to purchase?</h1>
    <form method="post" action="/checkout">
        Item: <input type="text" name="item"><br>
        <button type="submit" value="submit">Submit</button>
    </form>
  </body>
</html>

