<form action="/checkout" method="POST">
  <h1>Item To Purchase: </h1>

  <div>
    <label for="item">Item: </label>
    <input type="text" name="item" id="item">
  </div>

  <br>

  <button type="submit" id="submit">submit</button>
</form>