<!DOCTYPE html>
<html>
  <head>
    <form action='/checkout' method='POST'>
      <label for='item'>Enter Item Here: </label>
      <input type='text' id='item' name='item'>
      <input type='submit' id='submit' value='Submit'>
    </form>
  </head>
</html>
