<!DOCTYPE html>
<html>
  <form action="/checkout" method="POST">
    <label for="item">Enter the item to purchase:</label>
    <input type="text" name="item" id="item">
    <button><input type="submit" id="submit">Submit</button>
  </form>
</html>
