<h1>Welcome to David's Bazaar!</h1>

<form action="/checkout" method="post">

<h2>Enter Item To Purchase: <input type="text" name="item"></h2>

<input type="submit" id="submit" name="submit">


</form>