
 <form method="POST" action="/checkout">
  <label for="cart">Item You Want to Purchase</label>
  <input type="text" name="item" id="item" name="checkout"><br>
  <input type="submit" id="submit" value="SUBMIT" style="width:555">      

<form>