<form action="/checkout" method="POST">
  <label for="item">Type the item you would like to purchase:</label><br>
  <input type="text" name="item"><br>
  <button type="submit" id="submit" value="submit">Submit</button>
</form>
