<html>
  <body>
<h1>Shopping Cart</h1>
<form action="/checkout" method="POST">
  <label for="item"> Name of itemt: </label>
  <input type="text" id="item" name="item"></input>
  <input type="submit" id="submit" value="Submit">
</form>
</body>
</html>
