<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Item Form</title>
</head>
  <body>
    <h1>Enter an item to purchase:</h1>
    <form action="/checkout" method="POST">
      <label for="item">Item: </label>
      <input type="text" id="item" name="item"><br>

      <input type="submit" id="submit">
    </form>
  </body>
</html>
