
<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team Signup</title>
 </head>
 <body>
    <h1>Create a Basketball Team!</h1>

    <form id = "form" method="POST" action="/checkout">
      <p>Item: <input type="text" name="item"></p>

      <input id = "submit"  type="submit">
    </form>
 </body>
</html>


