<!DOCTYPE html>
<html>
    <head>
        <title>Shopping Form</title>
    </head>

    <body>
        <form action="/checkout" method="POST">
            <p>Item: <input type="text" name="item"></p>
            <input id="submit" type="submit" value="submit">
        </form>
    </body>
</html