<<<<<<< HEAD
<!DOCTYPE html>
<html>
  <head>
    <title>Sinatra Session Lab</title>
  </head>
  <body>
    <form method="post" action="/checkout">
      <p>ITEM: <input type="text" name="item" required></p>
      
      <input type="submit" value="submit">
    </form>
  </body>
  
</html>
=======
hay
>>>>>>> 978b8aac8c1d6097c0c28c50133324762cb2d26e
