<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Shopping Form Session</title>
</head>

<body>
<form method="post" action="/checkout">
  <p>Item Here <input type="text" name="item" id="item"></p>
  <p><input type="submit" name="submit" id="submit"></p>
</form>




</body>


</html>
