<h1>Enter what you would like to purchase</h1>
<form action='/checkout' method='POST'>
  <label for="item">Item to Buy:</label>
  <input type='text' id='item' name='item'>
  <input type='submit' id='submit' name='submit'>
</form>
