

<h3>I can't get over Flatiron's Learn uses "Feyonce Session" for cookies. </h3>
<form action='/checkout' method="POST">
    <input id="user_cart" type="text" name="item">
    <input type="submit" value="submit">

</form>