<!DOCTYPE html>
<html>
  <head>
    <title>Your basket</title>
  </head>

  <body>
    <form method="POST" action="/checkout">
      <h1>Add to your basket</h1>
      <p><label for="item">Your item:</label>
      <input type="text" id="item" name="item" /></p>
      <br>

      <input type="submit" id ="submit" value="Checkout">

    </form>
  </body>
</html>
