<form action="/checkout" method="post" id="cart">
  
  <p>Item to purchase: <input type="text" id="to_purchase" name="item"></p>
  <button type="submit" value="submit" form="cart">Submit</button>
  
  
  
</form>
