<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
    <style>
        .item {
            display: flex;
            flex: 1 1 200px;
            width: 320px;
            justify-content: space-between;
            margin-bottom: .5em;
        }
    </style>
  </head>
  <body>
  <h1>Session lab</h1>
  <form method="post" action="/checkout">
        
      <div class="item">
          <label for="item">Item:</label>
          <input id="item" type="text" name="item"  />
      </div>

      <input type="submit" id="Submit" value="submit">
  </form>
  </body>
</html>


