<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
      <form action="/checkout" method="post">
          <label>Item:</label>
          <input type="text" id="item" name="item"><br><br>

          <button type ="submit" name="submit" value="submit"></button>
      </form>
  </body>
</html>
