<!DOCTYPE html>
<html>
    <body>

        <form method="POST" action="/checkout">
            <p>Please add an item to your cart</p><input type="text" name="item">
            <input type="submit" id="submit">
        </form>

    </body>

</html>
