<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Form</title>
  </head>
  <body>
    <form action="/checkout" method="post">
      <p>Itme:<input type="text" name="item" id="item"></p>
      <input type="submit" id="submit">
    </form>
  </body>
</html>
