<h1>Add an item to your cart</h1>

<form action="checkout" method="post">
    <label for="item">Item:</label>
    <input type="text" id="item" name="item"><br>

    <input type="submit" id="submit">

</form>
