
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Purchase Item</title>
  </head>
  <body>
    <form action="/checkout" method="post">
      Item: <input type="text" name="item" id="item">
            <input type="submit" name="submit">
    </form>
  </body>
</html>
