<form action='/checkout' method="POST">
  
   <label for="item">Item</label><br>
  <input id="item_name" type="text" name="item" /><br>

  <button type="submit" value="submit">Submit</button>
</form>

