<form method="post" action="/checkout">
  <label for="item"> Item to Purchase:</label>
  <input type="text" id="item" name="session[item]"><br/>
  <button type="submit" value="submit">Submit</button>
</form>
