<h2>What Do You Want To Buy?</h2>

<form method="post" action="/checkout">
    <label for="item">Enter Item: </label>
    <input type="text" name="item"></input>
    <br/>
    <input type="submit" value="submit">
</form>
