
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Buy Something</title>
    </head>
    <body>
        <h1>Buy Something</h1>
        <form action="/checkout" method="post">
            Enter Item: <input id="item" type="text" name="item"><br>
            <input id="Submit" type="submit" value="submit">
        </form>
    </body>
</html>
